<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Periodicals</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav ">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer" class="dropdown-toggle" role="button">Language <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer">Save Data</a></li>
            <li><a style="cursor: pointer">Fetch Data</a></li>
          </ul>
        </li>
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer" class="dropdown-toggle" role="button">Sorting <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer">Sort by title</a></li>
            <li><a style="cursor: pointer">Sort by price</a></li>
          </ul>
        </li>
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer" class="dropdown-toggle" role="button">Topics <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer">News</a></li>
            <li><a style="cursor: pointer">Economy</a></li>
            <li><a style="cursor: pointer">...</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <form class="form-inline my-2 my-lg-0">
        <li>
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </li>
        <li><button class="btn btn-outline-success" type="submit">Search</button>
        </li>
        </form>

    </ul>


<!--    <div class="collapse navbar-collapse navbar-right">-->
<!--      <ul class="nav navbar-nav navbar-right">-->
<!--        <li class="">-->
<!--          <form class="d-flex">-->
<!--            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--            <button class="btn btn-outline-success me-2" type="submit">Search</button>-->
<!--          </form>-->
<!--        </li>-->
<!--        <li>-->
<!--          <button class="btn btn-primary me-2" type="submit">Sign up</button>-->
<!--        </li>-->
<!--        <li>-->
<!--          <button class="btn btn-primary" type="submit">Log In</button>-->
<!--        </li>-->
<!--      </ul>-->

      </div>
<!--  </div>-->
</nav>

<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand">Periodicals</a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse ">-->
<!--      <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--&lt;!&ndash;        <li class="dropdown" appDropdown>&ndash;&gt;-->
<!--&lt;!&ndash;          <a style="cursor: pointer" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>&ndash;&gt;-->
<!--&lt;!&ndash;          <ul class="dropdown-menu">&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a style="cursor: pointer">Save Data</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a style="cursor: pointer">Fetch Data</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;          </ul>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--        <li class="nav-item dropdown " appDropdown>-->
<!--          <a class="nav-link dropdown-toggle" role="button">-->
<!--            Languages-->
<!--          </a>-->
<!--          <ul class="dropdown-menu" aria-labelledby="lang">-->
<!--            <li><a style="cursor: pointer">UA</a></li>-->
<!--            <li><a style="cursor: pointer">EN</a></li>-->
<!--          </ul>-->
<!--        </li>-->

<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="sorting" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            Sort-->
<!--          </a>-->
<!--          <ul class="dropdown-menu" aria-labelledby="sorting">-->
<!--            <li><a class="dropdown-item" href="#">By title</a></li>-->
<!--            <li><a class="dropdown-item" href="#">By price</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="topics" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            Select by topic-->
<!--          </a>-->
<!--          <ul class="dropdown-menu" aria-labelledby="topics">-->
<!--            <li><a class="dropdown-item" href="#">News</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Economy</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <form class="d-flex">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success me-2" type="submit">Search</button>-->
<!--      </form>-->
<!--      <button class="btn btn-primary me-2" type="submit">Sign up</button>-->
<!--      <button class="btn btn-primary" type="submit">Log In</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
