<div class="row m-4" style="background-color: white; border-radius: 5px; margin-bottom: 20px">
    <div class="col d-flex" style="position: relative">
      <div style="float:left" class="col-3">
        <img src="{{publisher.image}}"
                     style="border-radius: 6px; margin-left: 20px; margin-bottom: 20px"
                     width="170px"
                     height="235px"
             alt="{{publisher.title}}">
      </div>
      <div style="align-content: center; position: relative"
           class="col-9 position-relative">
        <h3 style="text-align: center">{{publisher.title}}</h3><br><br>
        <p style="text-align: center; margin-top: -50px" class="fs-5"><i>Price per month: <b>{{publisher.price}} uah</b></i></p>
        <p style="text-align: center">{{publisher.description}}</p>
        <div class="col text-center">
          <div class="position-absolute translate-middle-x bottom-0 start-50 pb-3">
            <a href="#">
              <button type="button" class="btn btn-success">
                <b>Subscribe</b>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
