<div class="container col-8" style="justify-content: center">
  <app-publisher-item
    *ngFor="let publisherEl of publishers; let i = index"
    [publisher]="publisherEl"
    [index]="i"></app-publisher-item>

<!--  <div class="row m-4" style="background-color: white; border-radius: 5px; margin-bottom: 20px"-->
<!--       *ngFor="let publisherEl of publishers; let i = index">-->

<!--    <div class="col d-flex" style="position: relative">-->
<!--      <div style="float:left" class="col-3">-->
<!--        <img src="{{publisherEl.image}}"-->
<!--             style="border-radius: 6px; margin-left: 20px; margin-bottom: 20px"-->
<!--             width="180px"-->
<!--             height="235px">-->
<!--      </div>-->
<!--      <div style="align-content: center" class="col-9 position-relative">-->
<!--        <h3 style="text-align: center">{{publisherEl.title}}</h3><br><br>-->
<!--        <p style="text-align: center; margin-top: -50px" class="fs-5"><i>Price per month: <b>{{publisherEl.price}} uah</b></i></p>-->
<!--        <p style="text-align: center">{{publisherEl.description}}</p>-->
<!--        <div class="col text-center">-->
<!--          <div class="position-absolute translate-middle-x bottom-0 start-50 pb-3">-->
<!--            <a href="#">-->
<!--              <button type="button" class="btn btn-success">-->
<!--                Subscribe-->
<!--              </button>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
