<div class="modal-dialog">
  <div class="modal-content">
    <form >
      <div class="modal-header">
        <h4 class="modal-title">Add new issue of journal {{}}</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
        </div>
        <div class="form-group">
          <strong style="color: red">*</strong><label>Version</label>
          <input type="number"
                 class="form-control"/>
            <span class="text-danger" *ngIf="true">
                The Number of Issue should be larger than previous
            </span>
        </div>

        <div class="form-group">
          <label>Picture</label>
          <input type="text"
                 formControlName="image"
                 class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><a
          href="/publishers?page=${sessionScope.get('page')}" style="text-decoration: none; color: white">Close</a>
        </button>
        <input type="submit" class="btn btn-primary" value="Add">
      </div>
    </form>
  </div>
</div>
