<div class="row">
  <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">Enter Your Details Here
      </div>
      <div class="panel-body">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="fullName">Full Name <b style="color: red">*</b></label>
            <input id="fullName"
                   class="form-control"
                   type="text"
                   formControlName="fullName">
            <span id="error_name" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label for="email">Email <b style="color: red">*</b></label>
            <input id="email"
                   formControlName="email"
                   class="form-control"
                   type="email">
            <span id="error_age"
                  *ngIf="this.signUpForm.get('email')?.errors"
                  class="text-danger">Such email address is already exist</span>
          </div>
          <div class="form-group">
            <label for="password">Password <b style="color: red">*</b></label>
            <input type="password"
                   id="password"
                   name="text"
                   formControlName="password"
                   class="form-control" >
            <span id="error_password"
                  class="text-danger"
                  *ngIf="this.signUpForm.get('password')?.invalid && this.signUpForm.get('password')?.touched">Your password mast have at least 8 symbols, numbers and special symbols</span>
          </div>
          <div class="form-group">
            <label for="confirm_password">Confirm password <b style="color: red">*</b></label>
            <input type="password"
                   id="confirm_password"
                   name="text"
                   formControlName="confirmPassword"
                   class="form-control"
                   [ngStyle]="{'border':passwordMatchError ? '1px solid red' : '' }">
            <span id="error_confirm_password"
                  class="text-danger"></span>
          </div>

          <button type="submit"
                  class="btn btn-primary center"
                  [disabled]="!signUpForm.valid">
            Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>














<!--<form action="/create" method="post" class="vh-100 bg-image">-->
<!--  <div class="mask d-flex align-items-center h-100 <%&#45;&#45;gradient-custom-3&#45;&#45;%>">-->
<!--    <div class="container h-100">-->
<!--      <div class="row d-flex justify-content-center align-items-center h-100">-->
<!--        <div class="col-12 col-md-9 col-lg-7 col-xl-6">-->
<!--          <div class="card" style="border-radius: 15px;">-->
<!--            <div class="card-body p-5">-->

<!--              <h2 class="text-uppercase text-center mb-5">createAccount</h2>-->

<!--              <div class="form-outline mb-4">-->
<!--                <label class="form-label" for="inputFullName">-->
<!--                  fullName<b style="color: red">*</b>-->
<!--                </label>-->
<!--                <input type="text" name="inputFullName" id="inputFullName"-->
<!--                       class="form-control form-control-lg"-->
<!--                       value="">-->
<!--              </div>-->
<!--              <div class="form-outline mb-4">-->
<!--                <label class="form-label" for="inputEmail">email<b style="color: red">*</b>-->
<!--                </label>-->
<!--                <input type="email" name="inputEmail" id="inputEmail"-->
<!--                       class="form-control form-control-lg"-->
<!--                       value="<%=userDto!=null?userDto.getEmail():">-->
<!--              </div>-->

<!--              <div class="form-outline mb-4">-->
<!--                <label class="form-label" for="inputPassword">password<b-->
<!--                  style="color: red">*</b>-->
<!--                </label>-->
<!--                <input type="password" name="inputPassword" id="inputPassword"-->
<!--                       class="form-control form-control-lg"-->
<!--                       value="<%=userDto!=null?userDto.getPassword():">-->
<!--              </div>-->

<!--              <div class="form-outline mb-4">-->
<!--                <label class="form-label" for="inputConfirmPassword">repeatPassword<b style="color: red">*</b>-->
<!--                </label>-->
<!--                <input type="password" name="inputConfirmPassword" id="inputConfirmPassword"-->
<!--                       class="form-control form-control-lg"-->
<!--                       value="<%=userDto!=null?userDto.getConfirmPassword():">-->
<!--              </div>-->

<!--              <div class="form-check d-flex justify-content-center mb-5">-->
<!--                <input-->
<!--                  class="form-check-input me-2"-->
<!--                  type="checkbox"-->
<!--                  value="true"-->
<!--                  name="check"-->
<!--                  id="check"-->
<!--                />-->
<!--                <label class="form-check-label">-->
<!--                  agree <a href="#" class="text-body"><u>service</u></a><b style="color: red">*</b>-->
<!--                </label>-->
<!--              </div>-->
<!--              <div class="d-flex justify-content-center">-->
<!--                <button type="submit"-->
<!--                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">-->
<!--                  signUp</button>-->
<!--              </div>-->

<!--              <p class="text-center text-muted mt-5 mb-0">haveAlreadyAnAccount-->
<!--                <a href="logIn.jsp" class="fw-bold text-body"><u>-->
<!--                  loginHere</u></a></p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->
